body{
  font-size: 15px;
  font-family: "Overpass";
  background-color: hsl(216, 12%, 8%);
}

#container{
  visibility: visible;
  position: relative;
  top: 10rem;
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  background-image: linear-gradient(hsl(215, 20%, 17%), hsl(216, 12%, 11%));
  border: none;
  border-radius: 12%;
  text-align: center;
  display: flex;
  flex-direction: column;
}


/*Text*/

.text{
  text-align: left;
  max-width: 80%;
  padding-left: 3rem;
}

#heading{
  color: white;
  font-weight: 700;
}

.text p{
  color: hsl(217, 12%, 63%);
  line-height: 2rem;
}

/*numbers*/
.numbers{
  color: hsl(217, 12%, 63%);
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  max-width: 80%;
  margin-bottom: 1rem;
  margin-top: .4rem;
  margin-left: 3rem;
}

.num{
  width: 1rem;
  height: 1rem;
  padding: 1.4rem;
  border: none;
  border-radius: 50%;
  background-color: hsl(210, 19%, 20%);
}

.num:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}


/*star*/

#star {
  width: 15px;
  height: 15px;
  padding: 18px;
  border: none;
  border-radius: 50%;
  background-color: hsl(210, 19%, 20%);
  position: relative;
  top: 2rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
}


/*Button*/
#submit{
  background-color: hsl(25, 97%, 53%);
  color: white;
  width: 80%;
  font-size: 1rem;
  height: 2.8rem;
  border: none;
  border-radius: 25px;
  letter-spacing: 2px;
  margin-left: 3rem;
}

#submit:hover{
  background-color: hsl(210, 19%, 20%);
  cursor: pointer;
  font-weight: 700;
}


/*media query*/
@media only screen and  (max-width: 400px) {
  body{
    font-size: 10px;
  }
  .container{
    width: 22rem;
    height: 22rem;
  }
  .numbers{
    margin-top: 3rem;
  }
  .submit{
    margin-top: 2rem;
  }
  #star{
    position:relative;
    right: .5rem;
    bottom: .4rem;
  }
  .num{
    padding: .8rem;
  }
  .numbers{
    position: relative;
    bottom: 2.6rem;
  }
  .submit{
    position: relative;
    bottom: 4rem;
    height: 3rem;
  }
}

/*Thank you*/

#thankYou{
  visibility: hidden;
  position: relative;
  top: 10rem;
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  background-image: linear-gradient(hsl(215, 20%, 17%), hsl(216, 12%, 11%));
  border: none;
  border-radius: 12%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#thankYou img{
  max-width: 40%;
  margin: 40px auto;
}

#thankYou h3{
  color: hsl(25, 97%, 53%);
  padding: 5px;
  border: none;
  border-radius: 25px;
  background-color: hsl(210, 19%, 20%);
  width: 40%;
  margin: 25px auto;
}

#thankYou h1{
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
}

#thankYou p{
  color: hsl(217, 12%, 63%);
  line-height: 2rem;
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
}
